var {{ .ID }}Cmd = &cobra.Command{
	Use:   "{{ .ID }}",
	Short: "{{ .Description }}",
	{{- if .Aliases }}
	Aliases: []string{ "{{ StringsJoin .Aliases "\", \"" }}" },
	{{ end -}}
	Long:  `{{ .Long }}`,
	Run: func(cmd *cobra.Command, args []string) {

	    {{ if .Index.Required }}
	    if len(args) < ({{ .Index.Arg }}+1) {
	        HandleError(errors.New("argument {{ .Index.Arg }} is required for this command"))
	    }
	    {{ end }}

		api := GetAPI()
		{{ if .ResponseType }}
		resp := new({{ .ResponseType }})
		{{ end }}

		{{ if .PayloadType }}
		payload := new({{ .PayloadType }})
		{{ end }}

		{{- if and (.Params) (and (ne .Type "post") (ne .Type "patch")) }}
		querystring := make(map[string]string, {{ len .Params }})
		{{ range $k, $v := .Params -}}
        value, e := cmd.{{ if $v.Persistent }}Persistent{{ end }}Flags().Get{{ $v.Type | Title }}("{{ $v.Name }}")
        HandleError(e)
        querystring["{{ $v.Name }}"] = value
        {{ end }}
		{{- end }}

		{{ if .ParameterHandler }}
		pe := {{ .ParameterHandler }}(&querystring)
		HandleError(pe)
		{{ end }}

		{{ if .PostDataHandler -}}
        // Payload renderer must have signature (cmd *cobra.Command, args []string, payload *{{ .PayloadType }}) (*{{ .PayloadType }}, error)
        err := {{ .PostDataHandler}}(cmd, args, payload)
        HandleError(err)
        {{ end -}}

		{{ if  gt .ExpectedStatus 0 }}r{{ else }}_{{ end }}, err := api.Res("{{ .Path }}" {{ if .ResponseType }}, resp{{ end }}).{{ if .Index.Required }}Id(args[{{ .Index.Arg }}]).{{ end }}{{ .Type | Title }}({{ if and (.Params) (and (ne .Type "post") (ne .Type "patch")) }}querystring{{ end }}{{ if .PayloadType }}payload{{ end }})
		HandleError(err)

		{{ if gt .ExpectedStatus 0 }}
                if r.Raw.StatusCode != {{ .ExpectedStatus }} {
                    defer deferredBodyClose(r)
                	bodyBytes, err := ioutil.ReadAll(r.Raw.Body)
                	HandleError(err)
                	HandleError(errors.New(string(bodyBytes)))
                }
        {{ end }}

		{{ if .HasResponse -}}
		{{- if .ArrayResponse }}
		PrintArrayResponse(*resp)
		{{- else }}
		PrintResponse(*resp)
		{{ end }}
		{{- end }}

	},
}
