var {{ .Id }}Cmd = &cobra.Command{
	Use:   "{{ .Id }}",
	Short: "{{ .Description }}",
	Long:  `{{ .Long }}`,
	Run: func(cmd *cobra.Command, args []string) {
		api := GetApi()
		r, _ :=  api.Res("{{ .Path }}").Delete()
		if r.Raw.StatusCode != 205 {
            defer r.Raw.Body.Close()
        	bodyBytes, err := ioutil.ReadAll(r.Raw.Body)
        	HandleError(err)
        	HandleError(errors.New(string(bodyBytes)))
        }
	},
}

