var {{ .Id }}Cmd = &cobra.Command{
	Use:   "{{ .Id }}",
	Short: "{{ .Description }}",
	Long:  `{{ .Long }}`,
	Run: func(cmd *cobra.Command, args []string) {
		api := GetApi()
		resp := new({{ .ResponseType }})
		{{ if .Params }}
		querystring := map[string]string{
		{{ range $k, $v := .Params -}}
            "{{ $k }}": "{{ $v }}",
        {{ end -}}
		}
		{{ end }}
		_,err := api.Res("{{ .Path }}", resp).Get({{ if .Params }}querystring{{ end }})
		HandleError(err)
		{{- if .ArrayResponse }}
		table := clitable.New()
        for k, v := range *resp {
        	if k == 0 {
        		table.AddRow(getStructTags(v)...)
        	}
        	table.AddRow(getStructVals(v)...)
        }
        table.Print()
		{{- else }}
		PrintResponse(*resp)
		{{- end }}
	},
}
