var {{ .Id }}Cmd = &cobra.Command{
	Use:   "{{ .Id }}",
	Short: "{{ .Description }}",
	Long:  `{{ .Long }}`,
	Run: func(cmd *cobra.Command, args []string) {
		api := GetAPI()
		resp := new({{ .ResponseType }})
		payload := new({{ .PayloadType }})
		{{ if .PostDataHandler -}}
		// Payload renderer must have signature (cmd *cobra.Command, args []string, payload *{{ .PayloadType }}) (*{{ .PayloadType }}, error)
        err := {{ .PostDataHandler}}(cmd, args, payload)
        HandleError(err)
        {{ end -}}
		r, err :=  api.Res("{{ .Path }}", resp).Post(payload)
		HandleError(err)
		{{ if gt .ExpectedStatus 0 }}
		if r.Raw.StatusCode != {{ .ExpectedStatus }} {
            defer deferredBodyClose(r)
        	bodyBytes, err := ioutil.ReadAll(r.Raw.Body)
        	HandleError(err)
        	HandleError(errors.New(string(bodyBytes)))
        }
        {{ end }}
		{{ if .HasResponse -}}
        PrintResponse(*resp)
        {{ end }}
	},
}